html, body {
    height: 100vh;
    background-color: cadetblue;
}

h1 {
    text-shadow: 1px 1px yellow;
}

.container2 {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.movieStats {
    width: 200px;
    background-color: whitesmoke;
    box-shadow: 1px 1px black;
}

.movieStats:before {
}

.editBtn {

}

.editBtn:hover {
    opacity: 0.6;
}

.deleteBtn {
    background: transparent;
}


#addMovie {
    width: 50%;
    background-color: lightsteelblue;
    box-shadow: 1px 3px black;
    border: 2px solid black;
}

#edit{
    margin-top: 3em;
    /*display: none;*/
    width: 50%;
    background-color: floralwhite;
    box-shadow: 1px 1px 3px black;
    border: 2px solid black;
}

.poster{
    width: 200px;
}